{% extends 'base.html' %}
{% block title %}Sing Up{% endblock title %}
{% block container %}
<h2>Join Now</h2>

<form class="mt-4 container" action="" method="post">

    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% if form.errors %}
        <p>There is something wrong what you entered!</p>
    {% endif %}

    {{ form|crispy }}

    <input class="btn btn-secondary mt-4" type="submit" value="Sign Up">

</form>
<div class="container">
    <hr>
    <p>Already have an account? <a class="ms-2" href="{% url 'login' %}">Sign In Now</a></p>
</div>
{% endblock container %}
    